{{ ansible_managed | comment }}
{# Dovecot 2.4 ha rinominato ssl_cert/ssl_key in ssl_server_cert_file/
   ssl_server_key_file (verificato su questo sistema via doveconf -n,
   Dovecot 2.4.1: 10-ssl.conf usa già i nomi nuovi). #}
{% for d in ispmail_sni_domains %}
local_name {{ d.sni_hostname }} {
  ssl_server_cert_file = {{ ispmail_sni_link_dir }}/{{ d.domain }}/fullchain.pem
  ssl_server_key_file = {{ ispmail_sni_link_dir }}/{{ d.domain }}/privkey.pem
}
{% endfor %}
